<div class="grump-card">
    <div class="grump-card-header">
        <div class="grump-banner">Top Grumps</div>
        <div class="grump-hp" data-id="hp"></div>
        <div class="grump-image"><img src="" alt="Card Name" class=""></div>
        <div class="grump-name">Card Name</div>
    </div>
    <div class="grump-card-body">
        <div class="grump-strength">
            <label>Strength</label>
            <div data-id="strength">0</div>
        </div>
        <div class="grump-stamina">
            <label>Stamina</label>
            <div  data-id="stamina">0</div>
        </div>
        <div class="grump-reliability">
            <label>Reliability</label>
            <div  data-id="reliability">0</div>
        </div>
        <div class="grump-intelligence">
            <label>Intelligence</label>
            <div  data-id="intelligence">0</div>
        </div>
        <div class="grump-intimidation">
            <label>Intimidation</label>
            <div  data-id="intimidation">0</div>
        </div>
        <div class="grump-strengths">
            <label>Strengths</label>
            <div  data-id="strengths">hard as fuck</div>
        </div>
        <div class="grump-weaknesses">
            <label>Weaknesses</label>
            <div  data-id="weaknesses">soft as shit</div>
        </div>
        <div class="grump-finisher">
            <label>Finishing Move</label>
            <div  data-id="finisher">Finished!</div>
        </div>
    </div>
</div>